<ion-view view-title="{{miembro.nombre}}">
  <ion-content>
	<div class="card cartamiembro">
	  <div class="item item-text-wrap">
	    <img src="{{miembro.imagen}}" class="imagenmiembro">
	  </div>
	  <div class="item item-divider socialprofile">
    	<a ng-show="miembro.facebook" ng-href="{{miembro.facebook}}"><i class="icon ion-social-facebook"></i></a>
    	<a ng-show="miembro.twitter" ng-href="{{miembro.twitter}}"><i class="icon ion-social-twitter"></i></a>
		<a ng-show="miembro.instagram" ng-href="{{miembro.instagram}}"><i class="icon ion-social-instagram"></i></a>
  	  </div>
	</div>
  </ion-content>
</ion-view>
