<ion-view view-title="Síguenos">
  <ion-content>
	  <div class="card">
		  <div class="item item-text-wrap">
		    Puedes conocernos nuestra nueva web:<br><br>
		  	<a href="http://alianzatactica.weebly.com/">
		    	<img width="100%" src="img/link.jpg">
			</a><br><br>
			También puedes seguirnos en nuestras redes sociales:<br><br>
			<div class="socialButtons">
                <a href="https://twitter.com/alianza_tactica"> <img src="img/twitter.png"></a>
                <a href="https://www.facebook.com/alianzatactica"> <img src="img/facebook.png"></a>
            </div>
		  </div>
		</div>
  	
  </ion-content>
</ion-view>
