/* Empty. Add your own CSS if you like */

.logolateral {
	width: 80%;
	text-align: center;
	margin: auto;
	margin-bottom: 5%;
}

.logolateral img {
	width: 100%;
}

.socialButtons {
	text-align: center;
}

.socialButtons img {
	width: 25%;
}

.imagenmiembro {
	width: 100%;
}

.cartamiembro {
	border: solid 1px black;
}

.socialprofile {
	text-align: center;
	font-size: 50px;
	background-color: #AEACAC;
}

.socialprofile i {
	margin: 3%;
}

a { color: inherit; }

.descripcion {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8)), url('../img/fondo.jpg');
	background-repeat: no-repeat;
    background-size: 200%;
    background-position-x: 50%;
    background-position-y: 90%;
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
}

.leyenda {
	margin: 10%;
	color: #E6E6E6;
}

.botoncompartir {
	display: inline-block;
	margin-top: 10%;
    margin-left: 80%;
    padding: 5%;
}

.botoncompartir i {
	font-size: 30px;
}