/* Empty. Add your own CSS if you like */

.logolateral {
	width: 80%;
	text-align: center;
	margin: auto;
	margin-bottom: 5%;
}

.logolateral img {
	width: 100%;
}

.socialButtons {
	text-align: center;
}
